<p id="notice"><%= notice %></p>

<h1>Engineers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Carrier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engineers.each do |engineer| %>
      <tr>
        <td><%= engineer.firstname %></td>
        <td><%= engineer.lastname %></td>
        <td><%= engineer.carrier %></td>
        <td><%= link_to 'Show', engineer %></td>
        <td><%= link_to 'Edit', edit_engineer_path(engineer) %></td>
        <td><%= link_to 'Destroy', engineer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engineer', new_engineer_path %>
