<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @engineer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @engineer.lastname %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @engineer.carrier %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
